body,
html {
  height: 100%;
  width: 100%;
  font-family: serif;
  background-color: #0b2447;
  margin: 0;
  padding: 0;
}

/* .navbar {
  width: 100%;
  background: #39a4cf, 0.5;
  color: rgb(10, 9, 9);
  padding: 40px 20px;
  text-align: center;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  z-index: 50;
  display: flex;
  justify-content: space-between
} */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* backdrop-filter: blur(10px); */
  border-bottom: 2px solid rgba(169, 165, 165, 0.2);
  margin-bottom: 20px;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(106, 178, 246, 0.4),
    transparent
  );
  transition: 0.5s;
}
.navbar:hover::before {
  left: 100%;
}

.logo {
  margin-left: 2%;
  height: 60px;
  width: 60px;
}

/* .button {
  margin-right: 70px;
  margin-bottom: 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid;
  padding: 8px;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border-radius: 6px;
box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
box-sizing: border-box;
}

.button:hover {
  transition: 0.2s;
  color: rgb(255, 255, 255);
  box-shadow: 1px 2px 2px 2px;
} */

.button {
  align-items: center;
  /* appearance: none; */
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #0d597a 0,
    #0b5683 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin-right: 30px;
}

.button:focus {
  box-shadow: #2a2a2b 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b5683 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #4b4b4c 0 3px 7px inset;
  transform: translateY(2px);
}

.ripple-effect {
  position: relative;
  height: 100vh;
  background: url("img/bg3.png") no-repeat center center/cover;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 2;
  color: #ffffff;
  font-size: 350%;
  text-align: left;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  font-style: italic;
  /* font-weight: bold; */
  font-family: serif;
}

.overlay-text span {
  display: inline-block;
  white-space: nowrap;
}

section {
  padding: 50px 0;
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* page2 */
#page2 {
  padding-top: 150px;
}

.canvas-container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-bottom: 20px;
}

.text-section {
  padding: 80px;
  margin: 20px;
  border-radius: 8px;
  flex: 1;
  font-size: 40px;
}

canvas {
  display: block;
}

/* page3 */
.page3-container {
  padding-top: 300px;
  padding-bottom: 300px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 20px;
  text-align: center;
}

.circle-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#innerCircle {
  z-index: 2;
  width: 60vw;
}

#outerCircle {
  z-index: 1;
  width: 80vw;
}

.text-content {
  position: absolute;
  z-index: 3;
  text-align: center;
  color: #ffffff;
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text-content h1 {
  font-size: 4rem;
  margin: 0;
}

.text-content p {
  font-size: 1.5rem;
  line-height: 30px;
  margin: 0;
  margin: 1rem;
  padding: 1rem;
}

.text-content_in {
  color: #d2042d;
}
/* page4 */
.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
}

.svg-image {
  width: 15vw;
  height: auto;
  filter: invert(80%);
  padding: 60px;
}

/* page5 */
.cup {
  position: relative;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 180px;
  border: 6px solid #262626;
  border-top: 2px solid transparent;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: transparent;
  box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0, 0, 0, 1);
  margin-left: 200px;
  margin-top: 100px;
}

.cup::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 80px;
  border: 6px solid #fff;
  right: -57px;
  top: 30px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

.cup::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://image.ibb.co/fmHm66/wave.png) no-repeat;
  background-size: cover;
  background-position: 0px 350px;
  background-repeat: repeat-x;
  animation: filling 6s ease-in-out infinite;
  filter: var(--wave-filter, brightness(1) sepia(0) hue-rotate(0deg));
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@keyframes filling {
  50% {
    background-position: 3000px 0px;
  }
  100% {
    background-position: 6000px 350px;
  }
}

/* Page6 */
#page6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.content-container {
  display: flex;
  align-items: center;
}

/* Clock styles */
.clock-container {
  width: 150px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.clock {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
}

.clock__second,
.clock__axis {
  position: absolute;
  left: 50%;
  transform-origin: bottom center;
  background-color: #fff;
}

.clock__second {
  width: 2px;
  height: 45%;
  top: 5%;
  background-color: #4b9aaa;
  animation: rotate 1s linear infinite;
  z-index: 2;
}

.clock__axis {
  width: 10px;
  height: 10px;
  background-color: #4b9aaa;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/*child css*/
.child-grid-container {
  position: relative;
  height: 280px; /* Maintain height to prevent text movement */
}

.child-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  padding: 60px;
  justify-content: center;
  align-items: center;
}

.child-grid img {
  width: 160px;
  height: 160px;
  filter: invert(80%);
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/*page7*/
#page7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.canvas-container {
  width: 100%;
  max-width: 600px; /* Adjust the width as needed */
  height: 400px;
  margin: auto; /* Center the canvas if needed */
  padding: 20px 0;
}

#barChart {
  width: 100%;
  height: 100%;
}

/*page8*/
.custom-link {
  text-decoration: none;
  color: #d2042d;
}

/* ending */
/*body {
  background-color: #3498DB;
  overflow: hidden;
}*/

#ending-part {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  text-align: center;
}

.drop-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 200px;
  width: 200px;
}

.drop-container .drop {
  position: absolute;
  top: -25%;
  width: 100%;
  height: 100%;
  border-radius: 100% 5% 100% 100%;
  transform: rotate(-45deg);
  margin: 0px;
  background: deepskyblue;
  animation: drip 4s forwards;
}

#water-saving-technologies {
  background-color: #A5D7E8;
  width: 100%;
  padding: 20px;
}

.water-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  padding: 0 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
}

.water-heading h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

.animation-container {
  position: relative;
  right: 0;
  top: 50%;
  /*transform: translateY(-50%);*/
  display: flex;
  align-items: center;
}

.animation-container .drop {
  width: 10px;
  height: 10px;
  background: #FFF;
  position: absolute;
  top:-20px;
  left: 50%;  
  border-radius: 20px;
  animation: drip 2s cubic-bezier(1, 0, .91, .19) infinite;
  transform: translateX(-50%);
}


.animation-container .drop:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 15px solid rgba(255, 255, 255, 1);
  top: -10px;
}

.animation-container .wave {
  width: 2px;
  height: 1px;
  border: #FFF 7px solid;
  border-radius: 300px / 150px;
  animation: ripple 2s infinite;
  margin-left: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.animation-container .wave:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 1px;
  border: #FFF 5px solid;
  border-radius: 300px / 150px;
  animation: ripple-2 2s infinite;
}

@keyframes ripple {
  from {
    opacity: 1;
  }
  to {
    width: 600px;
    height: 300px;
    border-width: 1px;
    top: -100px;
    opacity: 0;
  }
}

@keyframes ripple-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    width: 200px;
    height: 100px;
    border-width: 1px;
    top: 100px;
    left: 200px;
  }
}

@keyframes drip {
  to {
    top: 190px;
  }
}

.g_img-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.w-layout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.img_reveal-img {
  height: auto;
  border-radius: 8px;
  width: 400px;
  height: 300px;
  object-fit: contain;
}

.p_img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.p_img-text p {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

h2 {
  color: white;
  position: absolute;
  font-size: 2.5em;
  height: 1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin: auto;
  text-align: center;
  opacity: 0;
  animation: appear 2s 2.5s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.drop-container:before,
.drop-container:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 55%;
  right: 50%;
  transform: translate(50%) rotateX(75deg);
  border-radius: 100%;
  opacity: 0;
  width: 75%;
  height: 75%;
  border: 5px solid skyblue;
  animation: dripple 2s ease-out 1s;
}

.drop-container:after {
  animation: dripple 2s ease-out 1.7s;
}

@keyframes dripple {
  0% {
    width: 150px;
    height: 150px;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 500px;
    height: 500px;
    top: -20%;
    opacity: 0;
  }
}
.drop-text {
  margin-top: 600px;
}

/* 3D */
#three-container {
  width: 800px; /* Width of the 3D view */
  height: 600px; /* Height of the 3D view */
  margin: 50px auto; /* Vertical margin 50px, horizontally centered */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b2447; /* Optional: background color */
}
