body,
html {
  height: 100%;
  width: 100%;
  font-family: serif;
  background-color: #0b2447;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* backdrop-filter: blur(10px); */
  border-bottom: 2px solid rgba(169, 165, 165, 0.2);
  margin-bottom: 20px;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(106, 178, 246, 0.4),
    transparent
  );
  transition: 0.5s;
}
.navbar:hover::before {
  left: 100%;
}

.logo {
  margin-left: 50%;
  height: 60px;
  width: 60px;
}

.button {
  align-items: center;
  /* appearance: none; */
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #0d597a 0,
    #0b5683 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin-right: 30px;
}

.button:focus {
  box-shadow: #2a2a2b 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b5683 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #4b4b4c 0 3px 7px inset;
  transform: translateY(2px);
}

.ripple-effect {
  position: relative;
  height: 100vh;
  background: url("img/bg3.png") no-repeat center center/cover;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 2;
  color: #ffffff;
  font-size: 350%;
  text-align: left;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  font-style: italic;
  /* font-weight: bold; */
  font-family: serif;
}

.overlay-text span {
  display: inline-block;
  white-space: nowrap;
}

section {
  padding: 50px 0;
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* page2 */

#page2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

.text-section {
  width: 80%;
  max-width: 1200px;
  text-align: center;
  font-size: 3rem;
  padding: 20px;
  box-sizing: border-box;
  margin: auto 20px;
  border-radius: 8px;
}

canvas {
  width: 100%;
  height: auto;
  display: block;
}

/* page3 */
.page3-container {
  padding-top: 300px;
  padding-bottom: 300px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 20px;
  text-align: center;
}

.circle-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#innerCircle {
  z-index: 2;
  width: 60vw;
}

#outerCircle {
  z-index: 1;
  width: 80vw;
}

.text-content {
  position: absolute;
  z-index: 3;
  text-align: center;
  color: #ffffff;
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text-content h1 {
  font-size: 4rem;
  margin: 0;
}

.text-content p {
  font-size: 1.5rem;
  line-height: 30px;
  margin: 0;
  margin: 1rem;
  padding: 1rem;
}

.text-content_in {
  color: #d2042d;
}
@media (max-width: 768px) {
  .page3-container {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 16px;
  }

  .circle-container img {
    width: auto;
  }

  #innerCircle {
    width: 50vw;
  }

  #outerCircle {
    width: 70vw;
  }

  .text-content {
    width: auto;
    flex-direction: column;
  }

  .text-content h1 {
    font-size: 3rem;
  }

  .text-content p {
    font-size: 1rem;
    line-height: 20px;
  }
}
/* page4 */
#page4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
}

.svg-image {
  width: 15vw;
  height: auto;
  filter: invert(80%);
  padding: 60px;
}

/* page5 */
#page5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cup {
  position: relative;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 180px;
  border: 6px solid #262626;
  border-top: 2px solid transparent;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: transparent;
  box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0, 0, 0, 1);
  margin-left: 200px;
  margin-top: 100px;
}

.cup::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 80px;
  border: 6px solid #fff;
  right: -57px;
  top: 30px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

.cup::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://image.ibb.co/fmHm66/wave.png) no-repeat;
  background-size: cover;
  background-position: 0px 350px;
  background-repeat: repeat-x;
  animation: filling 6s ease-in-out infinite;
  filter: var(--wave-filter, brightness(1) sepia(0) hue-rotate(0deg));
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@keyframes filling {
  50% {
    background-position: 3000px 0px;
  }
  100% {
    background-position: 6000px 350px;
  }
}

/* Page6 基础样式 */
#page6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Clock styles */
.clock-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.clock {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
}

.clock__second,
.clock__axis {
  position: absolute;
  left: 50%;
  transform-origin: bottom center;
  background-color: #fff;
}

.clock__second {
  width: 2px;
  height: 45%;
  top: 5%;
  background-color: #4b9aaa;
  animation: rotate 1s linear infinite;
  z-index: 2;
}

.clock__axis {
  width: 10px;
  height: 10px;
  background-color: #4b9aaa;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Child grid styles */
.child-grid-container {
  position: relative;
  height: 280px; /* Maintain height to prevent text movement */
  width: 100%; /* Ensure it fills the container */
}

.child-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(160px, 1fr)
  ); /* Responsive grid columns */
  gap: 10px; /* Reduced gap for better fit */
  padding: 20px; /* Reduced padding */
  justify-content: center;
  align-items: center;
}

.child-grid img {
  width: 100%; /* Make images responsive within grid */
  height: auto; /* Maintain aspect ratio */
  filter: invert(80%);
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .clock-container {
    margin-bottom: 5px; /* 在较小屏幕上进一步减少间距 */
  }
  .text-section {
    font-size: 0.8rem; /* 在小屏幕上减小字体大小 */
  }
}

/*page7*/
#page7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvas-container {
  width: 100%;
  max-width: 600px; /* Adjust the width as needed */
  height: 400px;
  margin: auto; /* Center the canvas if needed */
  padding: 20px 0;
}

#barChart {
  width: 100%;
  height: 100%;
}

/*page8*/

/* ending */

#ending-part {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
}

div.drop-container {
  position: absolute;
  top: 50%; /* 确保动画在垂直方向中间 */
  left: 50%;
  transform: translate(-50%, -50%); /* 完全居中 */
  height: 200px;
  width: 200px;
  margin: 0;
}

div.drop {
  position: absolute;
  top: -25%;
  width: 100%;
  height: 100%;
  border-radius: 100% 5% 100% 100%;
  transform: rotate(-45deg);
  background: deepskyblue;
  animation: drip 4s forwards;
}

h2 {
  color: white;
  position: absolute;
  font-size: 2.5em;
  top: 50%; /* 确保 h2 也在垂直方向中间 */
  left: 50%;
  transform: translate(-50%, -50%); /* 完全居中 */
  z-index: 2;
  opacity: 0;
  animation: appear 2s 2.5s forwards; /* 动画结束后显示 */
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.drop-container:before,
div.drop-container:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 55%;
  right: 50%;
  transform: translate(50%) rotateX(75deg);
  border-radius: 100%;
  opacity: 0;
  width: 75%;
  height: 75%;
  border: 5px solid skyblue;
  animation: dripple 2s ease-out 1s;
}

div.drop-container:after {
  animation: dripple 2s ease-out 1.7s;
}

@keyframes drip {
  45% {
    top: 0;
    border-radius: 100% 5% 100% 100%;
    transform: rotate(-45deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
    border-radius: 100%;
  }
}

@keyframes dripple {
  0% {
    width: 150px;
    height: 150px;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 500px;
    height: 500px;
    top: -20%;
    opacity: 0;
  }
}

.drop-text {
  position: absolute;
  bottom: 10%; /* 位置调整至底部 */
  width: 80%;
  text-align: center;
  padding: 20px;
  color: white;
}

/* page9 */

.g_img-text .p_img-text p {
  opacity: 1; /* Ensure paragraphs are fully visible */
  font-size: 1.2em; /* Increase the font size */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for any future opacity changes */
  margin: 10px;
}

.water-heading {
  text-align: center;
  margin-bottom: 40px;
}

.g_img-text {
  display: flex; /* Flexbox layout for side-by-side arrangement */
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Space between the image and text */
  margin-bottom: 40px; /* Space between each section */
}

.c_animated-img,
.p_img-text {
  flex: 1; /* Each takes up half of the container */
  padding: 20px; /* Padding around content */
}

.img_reveal-img {
  width: 100%; /* Full width of the parent container */
  height: auto; /* Keep the aspect ratio of the image */
  display: block; /* Remove any inline defaults */
}

.p_img-text {
  padding-left: 20px; /* Padding between the image and the text */
}

@media (max-width: 768px) {
  .g_img-text {
    flex-direction: column; /* Stack image and text vertically on small screens */
  }
  .c_animated-img,
  .p_img-text {
    padding: 10px;
    flex: none; /* Take the width as needed */
  }
  .p_img-text {
    padding-left: 0; /* No left padding on small screens */
  }
}
.g_img-text .p_img-text li {
  text-align: left; /* Ensures text within <li> is left-aligned */
}
/* 3D */

#page3d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#three-container {
  width: 800px; /* Width of the 3D view */
  height: 600px; /* Height of the 3D view */
  margin: 50px auto; /* Vertical margin 50px, horizontally centered */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a5d7e8; /* Optional: background color */
  position: relative;
}

#three-container::before,
#three-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ensures the pseudo-elements do not interfere with interactions */
}

#three-container::before {
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  clip-path: polygon(
    0% 0%,
    10% 0%,
    10% 10%,
    0% 10%,
    0% 90%,
    10% 90%,
    10% 100%,
    0% 100%,
    0% 100%,
    0% 0%
  );
}

#three-container::after {
  clip-path: polygon(
    90% 0%,
    /* Start from the right side, near the top corner */ 100% 0%,
    /* Move to the very right top corner */ 100% 10%,
    /* Move down a bit on the right side */ 90% 10%,
    /* Move back left to the start point vertically aligned */ 90% 100%,
    /* Move straight down to the bottom */ 100% 100%,
    /* Move to the right bottom corner */ 100% 90%,
    /* Move up a bit on the right side */ 90% 90%,
    /* Move left to align vertically with the starting point */ 90% 0%
      /* Close the polygon moving back to the initial point */
  );
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid transparent; /* Keeping the left border transparent */
  box-sizing: border-box;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}

.custom-link {
  color: white;
}

/* footer */

.site-footer {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  background-color: #0b2447; /* Match your site's background */
  color: #fff;
  font-size: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
  margin-top: 10px;
}

.footer-col {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}

.footer-col p {
  margin: 5px 0;
}

.name-icon-container {
  display: flex;
  justify-content: space-between; /* Space out the divs evenly */
  width: 100%;
  margin-bottom: 10px; /* Space between rows */
}

.name-icon {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  margin: 0 10px; /* Space between divs */
}

.name-icon img {
  width: 20px; /* Set the LinkedIn icon size */
  height: auto;
  margin-left: 5px; /* Space between text and icon */
}

.footer-col-right {
  align-items: flex-end; /* Align items to the right within the flex container */
  text-align: right; /* Right-align text within the container */
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center; /* Center text for smaller screens */
  }
  .footer-col {
    align-items: center; /* Center items on small screens */
  }
  .footer-col-right {
    align-items: center; /* Center items on small screens */
    text-align: center; /* Center text for smaller screens */
  }
  .name-icon-container {
    flex-direction: column; /* Stack name-icon divs vertically on small screens */
    align-items: center;
  }
  .name-icon {
    margin: 5px 0; /* Adjust margin for vertical stacking */
  }
}

.github-img {
  width: 20px; /* Set the GitHub icon size */
  height: auto;
  margin-left: 5px; /* Space between text and icon */
}
